[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/vim/bundle/vim-gitgutter"]
	path = vim/vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/vim/bundle/vim-less"]
	path = vim/vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "vim/vim/bundle/indentLine"]
	path = vim/vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/vim/bundle/autoswap.vim"]
	path = vim/vim/bundle/autoswap.vim
	url = https://github.com/vim-scripts/autoswap.vim.git
[submodule "vim/vim/bundle/vim-polyglot-darkcloud"]
	path = vim/vim/bundle/vim-polyglot-darkcloud
	url = https://github.com/prurigro/vim-polyglot-darkcloud
[submodule "vim/vim/bundle/vim-fixkey"]
	path = vim/vim/bundle/vim-fixkey
	url = https://github.com/drmikehenry/vim-fixkey
[submodule "vim/vim/bundle/vim-fugitive"]
	path = vim/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/vim/bundle/MatchTagAlways"]
	path = vim/vim/bundle/MatchTagAlways
	url = https://github.com/prurigro/MatchTagAlways
[submodule "vim/vim/bundle/supertab"]
	path = vim/vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/vim/bundle/vim-surround"]
	path = vim/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim/bundle/ctrlp.vim"]
	path = vim/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim/bundle/loremipsum"]
	path = vim/vim/bundle/loremipsum
	url = https://github.com/vim-scripts/loremipsum.git
