[submodule "vim/vim/bundle/MatchTagAlways"]
	path = vim/vim/bundle/MatchTagAlways
	url = https://github.com/Valloric/MatchTagAlways
[submodule "vim/vim/bundle/editorconfig-vim"]
	path = vim/vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "vim/vim/bundle/lightline.vim"]
	path = vim/vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/vim/bundle/neocomplete/vim"]
	path = vim/vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
[submodule "vim/vim/bundle/neosnippet.vim"]
	path = vim/vim/bundle/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/vim/bundle/nerdtree-git-plugin"]
	path = vim/vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "vim/vim/bundle/tagbar"]
	path = vim/vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/vim/bundle/unite.vim"]
	path = vim/vim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim
[submodule "vim/vim/bundle/vim-autoswap"]
	path = vim/vim/bundle/vim-autoswap
	url = https://github.com/gioele/vim-autoswap
[submodule "vim/vim/bundle/vim-colorschemes"]
	path = vim/vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule "vim/vim/bundle/vim-fugitive"]
	path = vim/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/vim/bundle/vim-gitgutter"]
	path = vim/vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/vim/bundle/vim-go"]
	path = vim/vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule "vim/vim/bundle/vim-twig"]
	path = vim/vim/bundle/vim-twig
	url = https://github.com/evidens/vim-twig
[submodule "vim/vim/bundle/vim-livedown"]
	path = vim/vim/bundle/vim-livedown
	url = https://github.com/shime/vim-livedown
[submodule "vim/vim/bundle/vim-multiple-cursors"]
	path = vim/vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "vim/vim/bundle/vim-php-namespace"]
	path = vim/vim/bundle/vim-php-namespace
	url = https://github.com/arnaud-lb/vim-php-namespace
[submodule "vim/vim/bundle/vim-surround"]
	path = vim/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/vim/bundle/vimproc.vim"]
	path = vim/vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim
[submodule "vim/vim/bundle/neosnippet-snippets"]
	path = vim/vim/bundle/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets
[submodule "vim/vim/bundle/neocomplete.vim"]
	path = vim/vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
[submodule "scripts/mp4towebm"]
	path = scripts/mp4towebm
	url = https://github.com/lukevers/mp4towebm
[submodule "vim/vim/bundle/phpcd.vim"]
	path = vim/vim/bundle/phpcd.vim
	url = https://github.com/phpvim/phpcd.vim
[submodule "vim/vim/bundle/padawan.vim"]
	path = vim/vim/bundle/padawan.vim
	url = https://github.com/mkusher/padawan.vim
[submodule "vim/vim/bundle/vim-easytags"]
	path = vim/vim/bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags
[submodule "vim/vim/bundle/vim-misc"]
	path = vim/vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc
