[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/vim/bundle/vim-blade"]
	path = vim/vim/bundle/vim-blade
	url = https://github.com/xsbeats/vim-blade
[submodule "vim/vim/bundle/vim-gitgutter"]
	path = vim/vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/vim/bundle/vim-less"]
	path = vim/vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "vim/vim/bundle/dash.vim"]
	path = vim/vim/bundle/dash.vim
	url = https://github.com/rizzatti/dash.vim
[submodule "vim/vim/bundle/vim-yaml"]
	path = vim/vim/bundle/vim-yaml
	url = https://github.com/avakhov/vim-yaml
[submodule "vim/vim/bundle/indentLine"]
	path = vim/vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/vim/bundle/rust.vim"]
	path = vim/vim/bundle/rust.vim
	url = https://github.com/wting/rust.vim
[submodule "vim/vim/bundle/vim-go"]
	path = vim/vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule "vim/vim/bundle/autoswap.vim"]
	path = vim/vim/bundle/autoswap.vim
	url = https://github.com/vim-scripts/autoswap.vim.git
[submodule "vim/vim/bundle/vim-polyglot-darkcloud"]
	path = vim/vim/bundle/vim-polyglot-darkcloud
	url = https://github.com/prurigro/vim-polyglot-darkcloud
