# Allows for faster key repetition
set -s escape-time 0

# Easy config reloads
bind r source-file ~/.tmux.conf \; display "Reloaded!"

# THEME
set-option -g status-utf8 on #http://www.csbruce.com/software/utf-8.html
set -g status-bg black
set -g status-fg white
set -g status-interval 16
set -g status-left-length 100
set -g status-right-length 100
#set -g status-left '#[fg=green]#(whoami)@#H#[default]'
#set -g status-right '#[fg=red]#(date "+%a %b %d %Y")#[default] #[fg=blue]#(date "+%H:%M %Z")#[default]' 

set-option -g status-utf8 on
set-option -g status-justify 'left'


TMUX1='#[fg=colour254]#[bg=colour31] #(date "+%a")  #[bold]#(date "+%b %d %Y") #[fg=colour31]#[bg=colour39] #[default]'
TMUX2='#[fg=colour254,bg=colour39]#(date "+%Z") #[bold] #(date "+%H:%M") #[fg=colour39, bg=colour26]#[default]'
TMUX3='#[bg=colour26, fg=colour254] cjdns #[bold] #(ping6 -c 1 fc49:8be3:42b7:4f0c:4e68:563f:dac6:e259 | grep / | cut -c 34-38) ms #[default]'

TMUX4='#[bg=colour0, fg=colour26]#[default]'

set-option -g status-left $TMUX1$TMUX2$TMUX3$TMUX4
set-option -g status-right ''









# Bring in our colors
source ~/.tmux.colors

set -g default-terminal "screen-256color"

#set-option -g status on
#set-option -g status-interval 2
#set-option -g status-utf8 on
#set-option -g status-justify "centre"
#set-option -g status-left-length 60
#set-option -g status-right-length 90
#set-option -g status-left "#(~/dev/bash/github.com/erikw/tmux-powerline/powerline.sh left)"
#set-option -g status-right "#(~/dev/bash/github.com/erikw/tmux-powerline/powerline.sh right)"

# Tmux Statusline
# # # #  source '/Users/lukevers/dev/python/Lokaltog/powerline/powerline/bindings/tmux/powerline.conf'
