# Allows for faster key repetition
set -s escape-time 0

# Easy config reloads
bind r source-file ~/.tmux.conf \; display "Reloaded!"

# THEME
set-option -g status-utf8 on #http://www.csbruce.com/software/utf-8.html
set -g status-bg black
set -g status-fg white
set -g status-interval 16
set -g status-left-length 100
set -g status-right-length 100

set-option -g status-utf8 on
set-option -g status-justify 'left'

TMUX1='#[fg=colour254]#[bg=colour31] #(date "+%a")  #[bold]#(date "+%b %d %Y") #[fg=colour31]#[bg=colour39] #[default]'
TMUX2='#[fg=colour254,bg=colour39]#(date "+%Z") #[bold] #(date "+%H:%M") #[fg=colour39, bg=colour26]#[default]'
TMUX3='#[bg=colour26, fg=colour254] cjdns #[bold] #(ping6 -c 1 h.lukevers.com | grep / | cut -c 34-38) ms #[default]'

TMUX4='#[bg=colour0, fg=colour26]#[default]'

set-option -g status-left $TMUX1$TMUX2$TMUX3$TMUX4
set-option -g status-right ''

# Bring in our colors
source ~/.tmux.colors

set -g default-terminal "screen-256color"
